<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ecar.epark.eotherpush">

    <application
        android:name=".EApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="100295175" />

        <meta-data
            android:name="e_xiaomi_app_id"
            android:value="\ 2882303761517803015" />

        <meta-data
            android:name="e_xiaomi_app_key"
            android:value="\ 5151780350015" />

        <meta-data
            android:name="e_meizu_app_id"
            android:value="1000621" />

        <meta-data
            android:name="e_meizu_app_key"
            android:value="153a863baba74cf1bccedbab5a9c1a40" />

        <meta-data
            android:name="e_oppo_app_key"
            android:value="3yPwb0EBKj6sKs8SSwk080s84" />

        <meta-data
            android:name="e_oppo_app_secret"
            android:value="A1d2C95394434d83Bb45f31F83595eB1" />

        <meta-data android:name="JPUSH_APPKEY" android:value="3df3bfacaa03da2caf64b4ee"/>

        <provider
            android:name="com.ecar.pushlib.provider.SPContentProvider"
            android:authorities="${applicationId}.epush.provider"
            android:exported="false"
            android:process=":epush"
            tools:node="replace" />
    </application>

</manifest>